html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;
}
body{
	height: 100%;
}

.clearfix{
	clear: both;
}

.wrap{
	margin: 0 auto;
	min-height: 800px;
	background: -webkit-radial-gradient(circle, #fff 10%,#FBE0D8 70%) repeat ;
}

.couple{
	-webkit-transform: scale(1.4);
	opacity: 0.9;
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}

.light{
	display: none;
}

.back_lace{
	position: fixed;
	bottom: 50px;
	background-image: url(https://i.imgur.com/jVrJjGO.png);
	background-repeat: repeat-x;
	height: 37px;
	width: 100%;
}
.bar{
	position: relative;
	z-index: 999999;
	margin: 0 auto;
	color: #fff;
	font-size: 18px;
	min-width: 100%;
	padding: 6px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #F29A8C;
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Great Vibes', 'TimesNR', 'New Century Schoolbook', 'Georgia';

}

.main{
	box-sizing: border-box;
	margin: 0 auto;
	padding-top: 200px;
	height: auto;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;/*
    display: flex;
    flex-direction: column;
    justify-content: center;*/
}



.hand{
    max-width: 530px;
    height: 250px;
    margin: 0 auto;
    /*border: 1px solid #000;*/
    position: relative;
    top: 20px;
}


.lefthand{
	background-image: url(../images/lefthand.png);
	width: 265px;
	height: 240.83px;
	position: relative;
	z-index: 9999;
	float: left;

	-webkit-transform: scale(1.1);
	transform-origin: right bottom;
	-webkit-filter: drop-shadow(1px 1px 3px #333) ;
	filter: drop-shadow(0px 5px 5px #333) ;

}

.righthand{
	background-image: url(../images/righthand.png);
	width: 265px;
	height: 240.83px;
	position: relative;
	z-index: 9999;
	float: right;
	-webkit-transform: scale(1.1);
	transform-origin: left bottom;
	-webkit-filter: drop-shadow(1px 1px 3px #333) ;
	filter: drop-shadow(0px 5px 5px #333) ;
}

.lefthand.active{
	transform: rotate(-68deg);
	transition: 2s;
	transform-origin: right bottom;
}

.righthand.active{
	transform: rotate(68deg);
	transform-origin: left bottom;
	transition: 2s;
}

.name{
	background-image: url(../images/name.png);
	width:  62px;
	height: 89.43px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;

}

.card{
	margin: 20px auto;
	max-width: 800px;
	height: 270px;
	padding: 0 0 50px 0;
	/*border: #FBE0D8 2px solid;*/
	color: #000;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 5;
	display: none;
}

.card img{
	/*width: 200px;*/
	height: auto;
	margin: 10px 0 ;
}



.btn{
	margin:0 auto;
	padding: 0 10px;
	width: 100px;
	height: 30px;
	background-color: #FBE0D8;
	color: #6E5442;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;

}

.btn:hover, .btn:focus{
	background-color: #F29A8C;
	color: #fff;
	transition: 0.2s all;
	width: 105px;
	height: 35px;
	line-height: 35px;
}



.content{
	padding: 20px;
	margin: 0 auto;
	font-size: 20px;
	max-width: 350px;
	letter-spacing: 2px;
	text-align: center;
}


.person1{
	display: block;
	float: left;
	paddind: 20px;
	margin: 10px;
	/*border: 1px #ccc solid;*/
}


.person2{
	display: block;
	float: right;
	paddind: 20px;
	margin: 10px;

	/*border: 1px #ccc solid;*/

}

.clearfix{
	clear: both;
}

.content p{
	font-size: 15px;
	text-align: center;
	line-height: 22px;
}

.content a{
	text-decoration: none;
	color: #000;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	padding: 50px;

	cursor: pointer;
}

.content a:hover, .content a:focus{
	color: #F29A8C;
	font-size: 17px;

}

.content h1,.content h2{
	margin-bottom: 10px;
	line-height: 25px;
}

.text_s{
	font-size: 15px;
	/*margin-bottom: 3px;*/
}

@media(max-width: 414px){ 

	.content{
		margin-top: 120px;
		min-width: 350px;
		padding: 20px 40px;
	}

	.hand{
	    display: none;
	}

	.couple{
		width: 200px;
		opacity: 0.2;
		bottom: -60px;
		right: 70px;

	}

	.bar{

		font-size: 10px;
		align-content: center;
		text-align: left;
		padding-left: 80px;

	}

	.light{
		background-image: url(https://i.imgur.com/QUsSmJt.png);
		width: 400px;
		height: 152px;
		position: absolute;
		top: -10px;
		display: block;
	}



}
